# Polars

## Overview

**1. So sánh Pandas, Polars, PySpark, và Dask**

| **Tiêu chí**              | **Pandas**                                         | **Polars**                                         | **PySpark**                                      | **Dask**                                       |
|---------------------------|---------------------------------------------------|---------------------------------------------------|-------------------------------------------------|-----------------------------------------------|
| **Hiệu năng**             | Trung bình (single-threaded).                     | Rất cao (Rust, multi-threaded).                  | Cao (phân tán trên nhiều cluster).             | Cao (đa luồng hoặc phân tán).                 |
| **Kích thước dữ liệu**    | Giới hạn bởi bộ nhớ RAM.                          | Lớn (out-of-core và Apache Arrow).               | Rất lớn (phân tán trên nhiều node).            | Lớn (out-of-core, phân tán).                  |
| **Lazy Evaluation**       | Không.                                            | Có (tối ưu hóa pipeline).                        | Có (nhưng chậm hơn Polars).                    | Có.                                           |
| **Dễ sử dụng**            | Rất dễ (API quen thuộc với Python).               | Dễ (API tương tự Pandas).                        | Trung bình (cần hiểu rõ Spark API).            | Trung bình (API tương tự Pandas).            |
| **Khả năng mở rộng**      | Hạn chế (thích hợp cho dữ liệu nhỏ).              | Tốt (Arrow, Parquet, ORC).                       | Rất cao (được thiết kế cho hệ thống lớn).      | Cao (hỗ trợ phân tán và dữ liệu lớn).         |
| **Thời gian khởi chạy**   | Nhanh.                                            | Nhanh.                                           | Chậm (cần thiết lập SparkContext).             | Trung bình.                                   |
| **Quản lý tài nguyên**    | Không hỗ trợ quản lý phân tán.                    | Không hỗ trợ quản lý phân tán.                   | Có (hỗ trợ cluster phân tán).                  | Có (quản lý song song, cluster nhỏ).          |
| **Ngôn ngữ cốt lõi**      | Python.                                           | Rust.                                            | Scala/Java (API Python là giao diện).          | Python.                                       |
| **Định dạng hỗ trợ**      | CSV, Excel, SQL, JSON.                            | CSV, Parquet, JSON, IPC, ORC.                    | CSV, Parquet, ORC, Avro, JSON.                 | CSV, Parquet, JSON, Zarr.                    |
| **Xử lý song song**       | Không (single-threaded).                          | Có (tích hợp đa luồng).                          | Có (phân tán trên cluster).                    | Có (đa luồng hoặc phân tán).                  |
| **Ưu điểm chính**         | Dễ dùng, phổ biến, nhiều tài liệu hỗ trợ.          | Rất nhanh, hỗ trợ lazy evaluation, tối ưu hóa.   | Tốt cho dữ liệu cực lớn và xử lý phân tán.      | Tốt cho dữ liệu lớn nhưng quen thuộc với Pandas. |
| **Nhược điểm chính**      | Hiệu năng thấp với dữ liệu lớn.                   | Còn mới, tài liệu ít hơn Pandas.                 | Cần tài nguyên cluster, phức tạp hơn.          | Hiệu năng kém hơn Polars với dữ liệu nhỏ.     |
| **Khi nào sử dụng?**      | Xử lý dữ liệu nhỏ và vừa, phân tích nhanh.         | Dữ liệu lớn, cần hiệu năng cao, xử lý nhanh.     | Dữ liệu cực lớn, xử lý phân tán trên cluster.   | Khi cần xử lý dữ liệu lớn và sử dụng API quen thuộc Pandas. |

- **Pandas**: Lý tưởng cho xử lý dữ liệu nhỏ và vừa, dễ học, nhiều tài liệu hỗ trợ.
- **Polars**: Phù hợp khi cần hiệu năng cao hoặc xử lý dữ liệu lớn nhanh chóng.
- **PySpark**: Dành cho dữ liệu cực lớn, đòi hỏi xử lý phân tán trên cluster.
- **Dask**: Là lựa chọn tốt nếu bạn cần xử lý dữ liệu lớn với cách tiếp cận quen thuộc từ Pandas.

**2. Differences in concepts between Polars and pandas**

**Polars không có multi-index/index**
- pandas gắn nhãn cho mỗi hàng bằng “index”, trong khi Polars không dùng index mà đánh chỉ số các hàng bằng vị trí số nguyên.
- Polars thiết kế để kết quả dễ dự đoán và câu lệnh dễ đọc, tránh sự phức tạp do “index” gây ra.

**Polars sử dụng Apache Arrow thay vì NumPy arrays**
- Polars lưu trữ dữ liệu theo chuẩn Apache Arrow, tối ưu hóa việc phân tích dữ liệu, tăng tốc độ tải, giảm bộ nhớ, và tính toán nhanh hơn. pandas sử dụng NumPy arrays.
- Polars utilizes the Arrow Columnar Format for its data orientation

**Polars hỗ trợ hoạt động song song tốt hơn pandas**
- Polars khai thác khả năng xử lý đồng thời mạnh mẽ của Rust, cho phép nhiều hoạt động chạy song song. pandas chủ yếu hoạt động đơn luồng, cần thư viện bổ sung (như Dask) để chạy song song.

**Polars có thể đánh giá lười biếng và tối ưu hóa câu truy vấn**
- pandas chỉ hỗ trợ đánh giá tức thời (eager evaluation). Polars hỗ trợ cả đánh giá tức thời và đánh giá lười biếng (lazy evaluation).
- Khi dùng lazy evaluation, Polars tối ưu hóa tự động các câu truy vấn, cải thiện tốc độ và giảm tiêu thụ bộ nhớ.

**Sử dụng index như một kỹ thuật tối ưu hóa**
- Polars có thể sử dụng cấu trúc dữ liệu “index” tương tự như cơ sở dữ liệu để tối ưu hóa, nhưng không dùng nó để quản lý dữ liệu như pandas.

**3. Differences in Key syntax between Polars and pandas**

Use the same syntax like pandas might be run, but it likely runs slower than it should. Then, it should be used by rewrite code syntax

In [ ]:
import polars as pl

df = pl.DataFrame({"foo": [1, 2, 3], "bar": [None, "bak", "baz"]})
csv_file = "docs/assets/data/path.csv"

- selecting data in parallel optimization

In [ ]:
# select columns
df.select("a")

# filter
df.filter(pl.col("a") < 10)

- lazy model to optimize query by identify that only the relevant. By calling the `.collect` method at the end con **eagerly evaluate** the query

In [ ]:
# lazy mode: scan_csv
df = pl.scan_csv(csv_file)

# eager mode: read_csv
df = pl.read_csv(csv_file)
grouped_df = df.group_by("id1").agg(pl.col("v1").sum()).collect()

- Column assignment in parallel

In [ ]:
# Column assignment

# in Pandas
df.assign(
    tenXValue=lambda df_: df_.value * 10,
    hundredXValue=lambda df_: df_.value * 100,
)

# in Polars
df.with_columns(
    tenXValue=pl.col("value") * 10,
    hundredXValue=pl.col("value") * 100,
)

In [ ]:
# Column assignment based on predicate

# in Pandas
df.assign(a=lambda df_: df_.a.where(df_.c != 2, df_.b))

# in Polars: Polars compute every branch of an when -> then -> otherwise in parallel
df.with_columns(
    pl.when(pl.col("c") == 2)  # when
    .then(pl.col("b"))  # then
    .otherwise(pl.col("a"))  # otherwise
    .alias("a")
)

- filter in Polars

In [ ]:
df.filter((pl.col("m2_living") > 2500) & (pl.col("price") < 300000))

- dataframe transformation

In [ ]:
df = pd.DataFrame(
    {
        "c": [1, 1, 1, 2, 2, 2, 2],
        "type": ["m", "n", "o", "m", "m", "n", "n"],
    }
)

# in pandas
df["size"] = df.groupby("c")["type"].transform(len)

# in polars
df.with_columns(pl.col("type").count().over("c").alias("size"))

# multi
df.with_columns(
    pl.col("c").count().over("c").alias("size"),
    pl.col("c").sum().over("type").alias("sum"),
    pl.col("type").reverse().over("c").alias("reverse_type"),
)

## Data type and structures

### Data-types

| **Category**     | **Datatype**            |
|-------------------|-------------------------|
| **Numeric**       | `Int8`, `Int16`, `Int32`, `Int64` (both negative and positive) |
|                   | `UInt8`, `UInt16`, `UInt32`, `UInt64` (non-negative) |
|                   | `Float32`, `Float64`     (need fast calculation by approximation)    |
|                   | `Decimal` (need precision calculation)               | 
| **Nested**        | `List`                    | 
|                   | `Array`                   | 
|                   | `Struct`  (like `Dict`)                | 
| **Temporal**      | `Date`                    | 
|                   | `Time`                    | 
|                   | `Datetime`                | 
|                   | `Duration`                | 
| **Miscellaneous** | `Boolean`                 | 
|                   | `String` (UTF-8 encoded)  | 
|                   | `Binary`                  | 
|                   | `Categorical`  (inferred strings at runtime)          | 
|                   | `Enum` (Set predetermined strings)                   | 
|                   | `Object`                  | 
|                   | `Null`                    |

### Series

In [ ]:
import polars as pl

s1 = pl.Series("ints", [1, 2, 3, 4, 5])
s2 = pl.Series("uints", [1, 2, 3, 4, 5], dtype=pl.UInt64)
print(s1)

shape: (5,)
Series: 'ints' [i64]
[
	1
	2
	3
	4
	5
]

In [7]:
(s1.dtype, s2.dtype)

(Int64, UInt64)

### Dataframe

In [ ]:
from datetime import date

df = pl.DataFrame(
    {
        "name": [
            "Alice Archer",
            "Ben Brown",
            "Chloe Cooper",
            "Daniel Donovan",
        ],
        "birthdate": [
            date(1997, 1, 10),
            date(1985, 2, 15),
            date(1983, 3, 22),
            date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [9]:
df.head(2)

shape: (2, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Alice Archer ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown    ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
└──────────────┴────────────┴────────┴────────┘

In [11]:
df.tail(2)

shape: (2, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [12]:
df.sample(2)

shape: (2, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Chloe Cooper ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Ben Brown    ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
└──────────────┴────────────┴────────┴────────┘

In [17]:
print(df.glimpse(return_as_string=True))

Rows: 4
Columns: 4
$ name       <str> 'Alice Archer', 'Ben Brown', 'Chloe Cooper', 'Daniel Donovan'
$ birthdate <date> 1997-01-10, 1985-02-15, 1983-03-22, 1981-04-30
$ weight     <f64> 57.9, 72.5, 53.6, 83.1
$ height     <f64> 1.56, 1.77, 1.65, 1.75

In [14]:
print(df.describe())

shape: (9, 5)
┌────────────┬────────────────┬─────────────────────┬───────────┬──────────┐
│ statistic  ┆ name           ┆ birthdate           ┆ weight    ┆ height   │
│ ---        ┆ ---            ┆ ---                 ┆ ---       ┆ ---      │
│ str        ┆ str            ┆ str                 ┆ f64       ┆ f64      │
╞════════════╪════════════════╪═════════════════════╪═══════════╪══════════╡
│ count      ┆ 4              ┆ 4                   ┆ 4.0       ┆ 4.0      │
│ null_count ┆ 0              ┆ 0                   ┆ 0.0       ┆ 0.0      │
│ mean       ┆ null           ┆ 1986-09-04 00:00:00 ┆ 66.775    ┆ 1.6825   │
│ std        ┆ null           ┆ null                ┆ 13.560082 ┆ 0.097082 │
│ min        ┆ Alice Archer   ┆ 1981-04-30          ┆ 53.6      ┆ 1.56     │
│ 25%        ┆ null           ┆ 1983-03-22          ┆ 57.9      ┆ 1.65     │
│ 50%        ┆ null           ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ 75%        ┆ null           ┆ 1985-02-15          ┆ 72.5      ┆ 1.75     │
│ max        ┆ Daniel Donovan ┆ 1997-01-10          ┆ 83.1      ┆ 1.77     │
└────────────┴────────────────┴─────────────────────┴───────────┴──────────┘

### schema

In [18]:
# set schema
df = pl.DataFrame(
    {
        "name": ["Alice", "Ben", "Chloe", "Daniel"],
        "age": [27, 39, 41, 43],
    },
    schema={"name": None, "age": pl.UInt8},
)

print(df)

shape: (4, 2)
┌────────┬─────┐
│ name   ┆ age │
│ ---    ┆ --- │
│ str    ┆ u8  │
╞════════╪═════╡
│ Alice  ┆ 27  │
│ Ben    ┆ 39  │
│ Chloe  ┆ 41  │
│ Daniel ┆ 43  │
└────────┴─────┘

In [20]:
# override datatype in some of columns (not all columns)
df = pl.DataFrame(
    {
        "name": ["Alice", "Ben", "Chloe", "Daniel"],
        "age": [27, 39, 41, 43],
    },
    schema_overrides={"age": pl.UInt16},
)

print(df)

shape: (4, 2)
┌────────┬─────┐
│ name   ┆ age │
│ ---    ┆ --- │
│ str    ┆ u16 │
╞════════╪═════╡
│ Alice  ┆ 27  │
│ Ben    ┆ 39  │
│ Chloe  ┆ 41  │
│ Daniel ┆ 43  │
└────────┴─────┘

## I/O

### CSV

In [ ]:
# in eager mode (executed immediately)
df = pl.read_csv("docs/assets/data/path.csv")

# lazy mode (prefer)
df = pl.scan_csv("docs/assets/data/path.csv")

# write csv
df.write_csv("docs/assets/data/path.csv")

**For Excel files** : https://docs.pola.rs/user-guide/io/excel/

**For Multiple files strategy**

If data in multiple file is the same schema:

In [ ]:
# in eager mode
df = pl.read_csv("docs/assets/data/my_many_files_*.csv")

# lazy mode (prefer)
df = pl.scan_csv("docs/assets/data/my_many_files_*.csv")
df.show_graph()

If data in multiple file is not in 1 table, but do same task (parallel):

In [ ]:
import glob

import polars as pl

queries = []
for file in glob.glob("docs/assets/data/my_many_files_*.csv"):
    q = pl.scan_csv(file).group_by("bar").agg(pl.len(), pl.sum("foo"))
    queries.append(q)

dataframes = pl.collect_all(queries)
print(dataframes)

### Parquet (prefer than CSV)

Polars is optimize to load and write `parquet` file format.

#### Single parquet file

In [ ]:
# in eager mode (executed immediately)
df = pl.read_parquet("docs/assets/data/path.parquet")

# lazy mode (prefer)
df = pl.scan_parquet("docs/assets/data/path.parquet")

# write csv
df.write_parquet("docs/assets/data/path.parquet")

When we scan a Parquet file stored in the cloud, we can also apply predicate and projection pushdowns. This can significantly reduce the amount of data that needs to be downloaded. For scanning a Parquet file in the cloud, see Cloud storage.

#### Hive partitioned data

https://docs.pola.rs/user-guide/io/hive/

**For READ hive partitioned data:**
```
┌───────────────────────────────────────────────────────┐
│ File path                                             │
╞═══════════════════════════════════════════════════════╡
│ docs/assets/data/hive/year=2023/month=11/data.parquet │
│ docs/assets/data/hive/year=2023/month=12/data.parquet │
│ docs/assets/data/hive/year=2024/month=01/data.parquet │
│ docs/assets/data/hive/year=2024/month=02/data.parquet │
└───────────────────────────────────────────────────────┘
```

In [ ]:
import polars as pl

df = pl.scan_parquet("docs/assets/data/hive/").collect()

with pl.Config(tbl_rows=99):
    print(df)

**For READ Handling mixed files:**
```
┌─────────────────────────────────────────────────────────────┐
│ File path                                                   │
╞═════════════════════════════════════════════════════════════╡
│ docs/assets/data/hive_mixed/description.txt                 │
│ docs/assets/data/hive_mixed/year=2023/month=11/data.parquet │
│ docs/assets/data/hive_mixed/year=2023/month=12/data.parquet │
│ docs/assets/data/hive_mixed/year=2024/month=01/data.parquet │
│ docs/assets/data/hive_mixed/year=2024/month=02/data.parquet │
└─────────────────────────────────────────────────────────────┘
```

In [ ]:
df = pl.scan_parquet(
    "docs/assets/data/hive_mixed/**/*.parquet", hive_partitioning=True
).collect()

with pl.Config(tbl_rows=99):
    print(df)

**For READ specific hive files:**
```
┌─────────────────────────────────────────────────────────────┐
│ File path                                                   │
╞═════════════════════════════════════════════════════════════╡
│ docs/assets/data/hive_mixed/description.txt                 │
│ docs/assets/data/hive_mixed/year=2023/month=11/data.parquet │
│ docs/assets/data/hive_mixed/year=2023/month=12/data.parquet │
│ docs/assets/data/hive_mixed/year=2024/month=01/data.parquet │
│ docs/assets/data/hive_mixed/year=2024/month=02/data.parquet │
└─────────────────────────────────────────────────────────────┘
```

In [ ]:
df = pl.scan_parquet(
    [
        "docs/assets/data/hive/year=2024/month=01/data.parquet",
        "docs/assets/data/hive/year=2024/month=02/data.parquet",
    ],
    hive_partitioning=True,
).collect()

print(df)

**For WRITE to hive files:**

In [ ]:
df = pl.DataFrame({"a": [1, 1, 2, 2, 3], "b": [1, 1, 1, 2, 2], "c": 1})
print(df)

shape: (5, 3)
┌─────┬─────┬─────┐
│ a   ┆ b   ┆ c   │
│ --- ┆ --- ┆ --- │
│ i64 ┆ i64 ┆ i32 │
╞═════╪═════╪═════╡
│ 1   ┆ 1   ┆ 1   │
│ 1   ┆ 1   ┆ 1   │
│ 2   ┆ 1   ┆ 1   │
│ 2   ┆ 2   ┆ 1   │
│ 3   ┆ 2   ┆ 1   │
└─────┴─────┴─────┘

In [ ]:
# partitioned by the columns a and b
df.write_parquet("docs/assets/data/hive_write/", partition_by=["a", "b"])

The output following paths:
```
┌──────────────────────────────────────────────────────┐
│ File path                                            │
╞══════════════════════════════════════════════════════╡
│ docs/assets/data/hive_write/a=1/b=1/00000000.parquet │
│ docs/assets/data/hive_write/a=2/b=1/00000000.parquet │
│ docs/assets/data/hive_write/a=2/b=2/00000000.parquet │
│ docs/assets/data/hive_write/a=3/b=2/00000000.parquet │
└──────────────────────────────────────────────────────┘
```

### Json

In [ ]:
# in eager mode (executed immediately)
df = pl.read_json("docs/assets/data/path.json")

# read Newline Delimited JSON
df = pl.read_ndjson("docs/assets/data/path.json")

# lazy mode (prefer - only Newline Delimited JSON)
df = pl.scan_ndjson("docs/assets/data/path.csv")

# write csv
df.write_json("docs/assets/data/path.json")

### Database

detail: https://docs.pola.rs/user-guide/io/database/

#### Engine

Polars xử lý data theo cơ chế **column-wise Apache Arrow format** nên một số engine có thể bị chậm do phải load data row-wise vào Python trước khi copying data lại vào the column-wise Apache Arrow format
- row-wise engine: **SQLAlchemy** or **DBAPI2** connection
- column-wise engine: [ConnectorX](https://github.com/sfu-db/connector-x) or [ADBC](https://arrow.apache.org/docs/format/ADBC.html)

#### Read

`read_database_uri` faster than `read_database` for **SQLAlchemy** or **DBAPI2** connection if you are using a SQLAlchemy or DBAPI2

via **URI**

In [ ]:
# via URI
uri = "postgresql://username:password@server:port/database"
query = "SELECT * FROM foo"

pl.read_database_uri(query=query, uri=uri)

via **connection engine**

In [ ]:
# via connection engine
from sqlalchemy import create_engine

conn = create_engine("sqlite:///test.db")
# conn = sqlite3.connect("test.db")

query = "SELECT * FROM foo"

pl.read_database(query=query, connection=conn.connect())

#### Write
support engine:
- SQLAlchemy
- Arrow Database Connectivity (ADBC)

In [ ]:
uri = "postgresql://username:password@server:port/database"
df = pl.DataFrame({"foo": [1, 2, 3]})

df.write_database(table_name="records", connection=uri)

In [ ]:
uri = "postgresql://username:password@server:port/database"
df = pl.DataFrame({"foo": [1, 2, 3]})

df.write_database(table_name="records", connection=uri, engine="adbc")

### Cloud Storage

- **Service**: `AWS S3`, `Azure Blob Storage`, `Google Cloud Storage`

- **File-format**: `Parquet`, `CSV`, `IPC`, `NDJSON`

[Authen cloud](https://docs.pola.rs/user-guide/io/cloud-storage/#cloud-authentication)

In [ ]:
import polars as pl

source = "s3://bucket/*.parquet"

storage_options = {
    "aws_access_key_id": "<secret>",
    "aws_secret_access_key": "<secret>",
    "aws_region": "us-east-1",
}
df = pl.scan_parquet(source, storage_options=storage_options).collect()

#### Read

Using `pl.scan_*` functions to read from cloud storage can benefit from [predicate and projection pushdowns](https://docs.pola.rs/user-guide/lazy/optimizations/), where the query optimizer will apply them before the file is downloaded. This can significantly reduce the amount of data that needs to be downloaded. The query evaluation is triggered by calling `collect`.

In [ ]:
source = "s3://bucket/*.parquet"

# Read file
df = pl.read_parquet(source)

# Scanning (query optimization)
df = (
    pl.scan_parquet(source)
    .filter(pl.col("id") < 100)
    .select("id", "value")
    .collect()
)

#### Write
using: 
- `s3fs` for **S3**, 
- `adlfs` for **Azure Blob Storage**
- `gcsfs` for **Google Cloud Storage**

In [ ]:
import polars as pl
import s3fs

df = pl.DataFrame(
    {
        "foo": ["a", "b", "c", "d", "d"],
        "bar": [1, 2, 3, 4, 5],
    }
)

fs = s3fs.S3FileSystem()
destination = "s3://bucket/my_file.parquet"

# write parquet
with fs.open(destination, mode="wb") as f:
    df.write_parquet(f)

### Bigquery

#### Read

In [ ]:
import polars as pl
from google.cloud import bigquery

client = bigquery.Client()

# Perform a query.
QUERY = (
    "SELECT name FROM `bigquery-public-data.usa_names.usa_1910_2013` "
    'WHERE state = "TX" '
    "LIMIT 100"
)
query_job = client.query(QUERY)  # API request
rows = query_job.result()  # Waits for query to finish

df = pl.from_arrow(rows.to_arrow())

#### Write

In [ ]:
from google.cloud import bigquery
import io

client = bigquery.Client()

# Write DataFrame to stream as parquet file; does not hit disk
with io.BytesIO() as stream:
    df.write_parquet(stream)
    stream.seek(0)
    job = client.load_table_from_file(
        stream,
        destination="tablename",
        project="projectname",
        job_config=bigquery.LoadJobConfig(
            source_format=bigquery.SourceFormat.PARQUET,
        ),
    )
job.result()  # Waits for the job to complete

### Hugging Face
https://docs.pola.rs/user-guide/io/hugging-face/

## Expression

In [75]:
import polars as pl
from datetime import date

df = pl.DataFrame(
    {
        "name": [
            "Alice Archer",
            "Ben Brown",
            "Chloe Cooper",
            "Daniel Donovan",
        ],
        "birthdate": [
            date(1997, 1, 10),
            date(1985, 2, 15),
            date(1983, 3, 22),
            date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

### Selecting and filtering

In [2]:
bmi_expr = pl.col("weight") / (pl.col("height") ** 2)
print(bmi_expr)

[(col("weight")) / (col("height").pow([dyn int: 2]))]

> `bmi_expr` just is an expressions with lazy, no computations have taken place yet. That's what we need contexts for by `select`, `with_columns`, `filter`, `group_by`, ...

#### select and create

**`select`**

Select column

In [59]:
subdf = df.select(pl.col("weight"), pl.col("name"))
print(subdf)

shape: (4, 2)
┌────────┬────────────────┐
│ weight ┆ name           │
│ ---    ┆ ---            │
│ f64    ┆ str            │
╞════════╪════════════════╡
│ 57.9   ┆ Alice Archer   │
│ 72.5   ┆ Ben Brown      │
│ 53.6   ┆ Chloe Cooper   │
│ 83.1   ┆ Daniel Donovan │
└────────┴────────────────┘

In [61]:
subdf2 = df.select(["weight", "name"])
subdf2.equals(subdf)

True

In [62]:
df.select("weight")

shape: (4, 1)
┌────────┐
│ weight │
│ ---    │
│ f64    │
╞════════╡
│ 57.9   │
│ 72.5   │
│ 53.6   │
│ 83.1   │
└────────┘

produce new columns / series that are ***aggregations***, ***combinations*** of other `columns`, or `literals` and same lenght with df or must be a scalar:
  - Scalars will be broadcast to match the length of the remaining series
  - Literals, like the number used above, are also broadcast
  - Broadcasting can also occur within expressions

> `select` only includes the columns selected by its input expressions

In [19]:
result = df.select(
    bmi=bmi_expr,
    avg_bmi=bmi_expr.mean(),
    ideal_max_bmi=25,
    deviation=(bmi_expr - bmi_expr.mean()) / bmi_expr.std(),
)
print(result)

shape: (4, 4)
┌───────────┬───────────┬───────────────┬───────────┐
│ bmi       ┆ avg_bmi   ┆ ideal_max_bmi ┆ deviation │
│ ---       ┆ ---       ┆ ---           ┆ ---       │
│ f64       ┆ f64       ┆ i32           ┆ f64       │
╞═══════════╪═══════════╪═══════════════╪═══════════╡
│ 23.791913 ┆ 23.438973 ┆ 25            ┆ 0.115645  │
│ 23.141498 ┆ 23.438973 ┆ 25            ┆ -0.097471 │
│ 19.687787 ┆ 23.438973 ┆ 25            ┆ -1.22912  │
│ 27.134694 ┆ 23.438973 ┆ 25            ┆ 1.210946  │
└───────────┴───────────┴───────────────┴───────────┘

##### by datatype

In [22]:
float_df = df.select(pl.col(pl.Float64))
print(float_df)

shape: (4, 2)
┌────────┬────────┐
│ weight ┆ height │
│ ---    ┆ ---    │
│ f64    ┆ f64    │
╞════════╪════════╡
│ 57.9   ┆ 1.56   │
│ 72.5   ┆ 1.77   │
│ 53.6   ┆ 1.65   │
│ 83.1   ┆ 1.75   │
└────────┴────────┘

##### by pattern matching in columns name

- `^` : start
- `$` : end 
- `*` : multi-characters
- `.` : single-character
- ...

In [79]:
result = df.select("^*ght$")
print(result)

shape: (4, 2)
┌────────┬────────┐
│ weight ┆ height │
│ ---    ┆ ---    │
│ f64    ┆ f64    │
╞════════╪════════╡
│ 57.9   ┆ 1.56   │
│ 72.5   ┆ 1.77   │
│ 53.6   ┆ 1.65   │
│ 83.1   ┆ 1.75   │
└────────┴────────┘

##### all columns

In [76]:
result = df.select(pl.all())
print(result)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

##### exclude columns

In [78]:
result = df.select(pl.all().exclude("^*ght$"))
print(result)

shape: (4, 2)
┌────────────────┬────────────┐
│ name           ┆ birthdate  │
│ ---            ┆ ---        │
│ str            ┆ date       │
╞════════════════╪════════════╡
│ Alice Archer   ┆ 1997-01-10 │
│ Ben Brown      ┆ 1985-02-15 │
│ Chloe Cooper   ┆ 1983-03-22 │
│ Daniel Donovan ┆ 1981-04-30 │
└────────────────┴────────────┘

##### **`with_columns`**

very similar to the context `select`, but `with_columns` creates a new dataframe that contains the columns from the original dataframe and the new columns according to its input expressions

In [ ]:
result = df.with_columns(
    bmi=bmi_expr,
    avg_bmi=bmi_expr.mean(),
    ideal_max_bmi=25,
    deviation=(bmi_expr - bmi_expr.mean()) / bmi_expr.std(),
)
print(result)

shape: (4, 8)
┌───────────────┬────────────┬────────┬────────┬───────────┬───────────┬───────────────┬───────────┐
│ name          ┆ birthdate  ┆ weight ┆ height ┆ bmi       ┆ avg_bmi   ┆ ideal_max_bmi ┆ deviation │
│ ---           ┆ ---        ┆ ---    ┆ ---    ┆ ---       ┆ ---       ┆ ---           ┆ ---       │
│ str           ┆ date       ┆ f64    ┆ f64    ┆ f64       ┆ f64       ┆ i32           ┆ f64       │
╞═══════════════╪════════════╪════════╪════════╪═══════════╪═══════════╪═══════════════╪═══════════╡
│ Alice Archer  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 23.791913 ┆ 23.438973 ┆ 25            ┆ 0.115645  │
│ Ben Brown     ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 23.141498 ┆ 23.438973 ┆ 25            ┆ -0.097471 │
│ Chloe Cooper  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 19.687787 ┆ 23.438973 ┆ 25            ┆ -1.22912  │
│ Daniel        ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 27.134694 ┆ 23.438973 ┆ 25            ┆ 1.210946  │
│ Donovan       ┆            ┆        ┆        ┆           ┆           ┆               ┆           │
└───────────────┴────────────┴────────┴────────┴───────────┴───────────┴───────────────┴───────────┘

#### rename

##### **`alias`**

set name

In [29]:
result = df.select(
    bmi_expr.alias("bmi"),
    bmi_expr.mean().alias("avg_bmi"),
    ((bmi_expr - bmi_expr.mean()) / bmi_expr.std()).alias("deviation"),
)
print(result)

shape: (4, 3)
┌───────────┬───────────┬───────────┐
│ bmi       ┆ avg_bmi   ┆ deviation │
│ ---       ┆ ---       ┆ ---       │
│ f64       ┆ f64       ┆ f64       │
╞═══════════╪═══════════╪═══════════╡
│ 23.791913 ┆ 23.438973 ┆ 0.115645  │
│ 23.141498 ┆ 23.438973 ┆ -0.097471 │
│ 19.687787 ┆ 23.438973 ┆ -1.22912  │
│ 27.134694 ┆ 23.438973 ┆ 1.210946  │
└───────────┴───────────┴───────────┘

##### prefixing and suffixing

In [85]:
result = df.select(
    (pl.col("^*ight$") * 10).name.prefix("10_multiple_"),
    (pl.col("birthdate").dt.year()).name.suffix("_year"),
)
print(result)

shape: (4, 3)
┌────────────────────┬────────────────────┬────────────────┐
│ 10_multiple_weight ┆ 10_multiple_height ┆ birthdate_year │
│ ---                ┆ ---                ┆ ---            │
│ f64                ┆ f64                ┆ i32            │
╞════════════════════╪════════════════════╪════════════════╡
│ 579.0              ┆ 15.6               ┆ 1997           │
│ 725.0              ┆ 17.7               ┆ 1985           │
│ 536.0              ┆ 16.5               ┆ 1983           │
│ 831.0              ┆ 17.5               ┆ 1981           │
└────────────────────┴────────────────────┴────────────────┘

##### custom function

In [86]:
# There is also `.name.to_uppercase`, so this usage of `.map` is moot.
result = df.select(pl.all().name.map(str.upper))
print(result)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ NAME           ┆ BIRTHDATE  ┆ WEIGHT ┆ HEIGHT │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

#### filter

**`filter`**

In [8]:
result = df.filter(
    pl.col("birthdate").is_between(date(1982, 12, 31), date(1996, 1, 1)),
    pl.col("height") > 1.7,
)
print(result)

shape: (1, 4)
┌───────────┬────────────┬────────┬────────┐
│ name      ┆ birthdate  ┆ weight ┆ height │
│ ---       ┆ ---        ┆ ---    ┆ ---    │
│ str       ┆ date       ┆ f64    ┆ f64    │
╞═══════════╪════════════╪════════╪════════╡
│ Ben Brown ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
└───────────┴────────────┴────────┴────────┘

### Basic operation

In [35]:
import polars as pl
import numpy as np

np.random.seed(42)  # For reproducibility.

df = pl.DataFrame(
    {
        "nrs": [1, 2, 3, None, 5],
        "names": ["foo", "ham", "spam", "egg", "spam"],
        "random": np.random.rand(5),
        "groups": ["A", "A", "B", "A", "B"],
    }
)
print(df)

shape: (5, 4)
┌──────┬───────┬──────────┬────────┐
│ nrs  ┆ names ┆ random   ┆ groups │
│ ---  ┆ ---   ┆ ---      ┆ ---    │
│ i64  ┆ str   ┆ f64      ┆ str    │
╞══════╪═══════╪══════════╪════════╡
│ 1    ┆ foo   ┆ 0.37454  ┆ A      │
│ 2    ┆ ham   ┆ 0.950714 ┆ A      │
│ 3    ┆ spam  ┆ 0.731994 ┆ B      │
│ null ┆ egg   ┆ 0.598658 ┆ A      │
│ 5    ┆ spam  ┆ 0.156019 ┆ B      │
└──────┴───────┴──────────┴────────┘

#### Comparisons

In [36]:
result = df.select(
    (pl.col("nrs") > 1).alias("nrs > 1"),  # .gt
    (pl.col("nrs") >= 3).alias("nrs >= 3"),  # ge
    (pl.col("random") < 0.2).alias("random < .2"),  # .lt
    (pl.col("random") <= 0.5).alias("random <= .5"),  # .le
    (pl.col("nrs") != 1).alias("nrs != 1"),  # .ne
    (pl.col("nrs") == 1).alias("nrs == 1"),  # .eq
)
print(result)

shape: (5, 6)
┌─────────┬──────────┬─────────────┬──────────────┬──────────┬──────────┐
│ nrs > 1 ┆ nrs >= 3 ┆ random < .2 ┆ random <= .5 ┆ nrs != 1 ┆ nrs == 1 │
│ ---     ┆ ---      ┆ ---         ┆ ---          ┆ ---      ┆ ---      │
│ bool    ┆ bool     ┆ bool        ┆ bool         ┆ bool     ┆ bool     │
╞═════════╪══════════╪═════════════╪══════════════╪══════════╪══════════╡
│ false   ┆ false    ┆ false       ┆ true         ┆ false    ┆ true     │
│ true    ┆ false    ┆ false       ┆ false        ┆ true     ┆ false    │
│ true    ┆ true     ┆ false       ┆ false        ┆ true     ┆ false    │
│ null    ┆ null     ┆ false       ┆ false        ┆ null     ┆ null     │
│ true    ┆ true     ┆ true        ┆ true         ┆ true     ┆ false    │
└─────────┴──────────┴─────────────┴──────────────┴──────────┴──────────┘

Use the operators `&`, `|`, and `~`, for the Boolean operations “and”, “or”, and “not”, respectively, or the functions of the same name

In [39]:
# Boolean operators & | ~
result = df.select(
    ((~pl.col("nrs").is_null()) & (pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5) | (pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
    (pl.col("groups") != "B").alias("group not B"),
)

print(result)

shape: (5, 3)
┌─────────────────────────────┬─────────────────────────┬─────────────┐
│ number not null and group A ┆ random < 0.5 or group B ┆ group not B │
│ ---                         ┆ ---                     ┆ ---         │
│ bool                        ┆ bool                    ┆ bool        │
╞═════════════════════════════╪═════════════════════════╪═════════════╡
│ true                        ┆ true                    ┆ true        │
│ true                        ┆ false                   ┆ true        │
│ false                       ┆ true                    ┆ false       │
│ false                       ┆ false                   ┆ true        │
│ false                       ┆ true                    ┆ false       │
└─────────────────────────────┴─────────────────────────┴─────────────┘

In [38]:
# Corresponding named functions `and_`, `or_`, and `not_`.
result2 = df.select(
    (pl.col("nrs").is_null().not_().and_(pl.col("groups") == "A")).alias(
        "number not null and group A"
    ),
    ((pl.col("random") < 0.5).or_(pl.col("groups") == "B")).alias(
        "random < 0.5 or group B"
    ),
)
print(result.equals(result2))

True

#### Unique values

- `n_unique`: exact number but may be slow for large dataset
- `approx_n_unique`: approximation by uses the algorithm [HyperLogLog++](https://en.wikipedia.org/wiki/HyperLogLog) to estimate the result

In [40]:
long_df = pl.DataFrame({"numbers": np.random.randint(0, 100_000, 100_000)})

result = long_df.select(
    pl.col("numbers").n_unique().alias("n_unique"),
    pl.col("numbers").approx_n_unique().alias("approx_n_unique"),
)

print(result)

shape: (1, 2)
┌──────────┬─────────────────┐
│ n_unique ┆ approx_n_unique │
│ ---      ┆ ---             │
│ u32      ┆ u32             │
╞══════════╪═════════════════╡
│ 63218    ┆ 63784           │
└──────────┴─────────────────┘

- `value_counts`: unique values and their counts as `structs` datatype
- `unique`: return only unique value
- `unique_counts`: return only unique value count (need `unique(maintain_order=True)`)

In [43]:
result = df.select()

result = df.select(
    pl.col("names").value_counts(sort=True).alias("value_counts"),
    pl.col("names").unique(maintain_order=True).alias("unique"),
    pl.col("names").unique_counts().alias("unique_counts"),
)

print(result)

shape: (4, 3)
┌──────────────┬────────┬───────────────┐
│ value_counts ┆ unique ┆ unique_counts │
│ ---          ┆ ---    ┆ ---           │
│ struct[2]    ┆ str    ┆ u32           │
╞══════════════╪════════╪═══════════════╡
│ {"spam",2}   ┆ foo    ┆ 1             │
│ {"foo",1}    ┆ ham    ┆ 1             │
│ {"ham",1}    ┆ spam   ┆ 2             │
│ {"egg",1}    ┆ egg    ┆ 1             │
└──────────────┴────────┴───────────────┘

#### Conditional (when - then - else)
- `when`: accept predicate expression (True/False seri)
- `then`: corresponding values of the expression inside if when = `True`
- `otherwise`: corresponding values of the expression inside if when = `False`, or `null` if not provided

In [48]:
result = df.select(
    pl.col("nrs"),
    pl.when(pl.col("nrs") == 1)
    .then(pl.col("nrs") + 1)
    .otherwise(
        pl.when(pl.col("nrs").is_null())
        .then(9999)
        .otherwise(pl.col("nrs") ** 3)
    )
    .alias("Collatz"),
)

print(result)

shape: (5, 2)
┌──────┬─────────┐
│ nrs  ┆ Collatz │
│ ---  ┆ ---     │
│ i64  ┆ i64     │
╞══════╪═════════╡
│ 1    ┆ 2       │
│ 2    ┆ 8       │
│ 3    ┆ 27      │
│ null ┆ 9999    │
│ 5    ┆ 125     │
└──────┴─────────┘

#### Expression expansion

a shorthand notation for when you want to apply the same transformation to multiple columns

In [87]:
import polars as pl

df = pl.DataFrame(
    {  # As of 14th October 2024, ~3pm UTC
        "ticker": ["AAPL", "NVDA", "MSFT", "GOOG", "AMZN"],
        "company_name": [
            "Apple",
            "NVIDIA",
            "Microsoft",
            "Alphabet (Google)",
            "Amazon",
        ],
        "price": [229.9, 138.93, 420.56, 166.41, 188.4],
        "day_high": [231.31, 139.6, 424.04, 167.62, 189.83],
        "day_low": [228.6, 136.3, 417.52, 164.78, 188.44],
        "year_high": [237.23, 140.76, 468.35, 193.31, 201.2],
        "year_low": [164.08, 39.23, 324.39, 121.46, 118.35],
    }
)

print(df)

shape: (5, 7)
┌────────┬───────────────────┬────────┬──────────┬─────────┬───────────┬──────────┐
│ ticker ┆ company_name      ┆ price  ┆ day_high ┆ day_low ┆ year_high ┆ year_low │
│ ---    ┆ ---               ┆ ---    ┆ ---      ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str               ┆ f64    ┆ f64      ┆ f64     ┆ f64       ┆ f64      │
╞════════╪═══════════════════╪════════╪══════════╪═════════╪═══════════╪══════════╡
│ AAPL   ┆ Apple             ┆ 229.9  ┆ 231.31   ┆ 228.6   ┆ 237.23    ┆ 164.08   │
│ NVDA   ┆ NVIDIA            ┆ 138.93 ┆ 139.6    ┆ 136.3   ┆ 140.76    ┆ 39.23    │
│ MSFT   ┆ Microsoft         ┆ 420.56 ┆ 424.04   ┆ 417.52  ┆ 468.35    ┆ 324.39   │
│ GOOG   ┆ Alphabet (Google) ┆ 166.41 ┆ 167.62   ┆ 164.78  ┆ 193.31    ┆ 121.46   │
│ AMZN   ┆ Amazon            ┆ 188.4  ┆ 189.83   ┆ 188.44  ┆ 201.2     ┆ 118.35   │
└────────┴───────────────────┴────────┴──────────┴─────────┴───────────┴──────────┘

For example: compute the mean value of the columns “price” and “year_high” and will rename them as “avg_year_high” and “avg_year_high”, respectively

In [ ]:
# instead of
[
    pl.col("price").mean().alias("avg_price"),
    pl.col("year_high").mean().alias("avg_year_high"),
]

# using
expr = pl.col("price", "year_high").mean().name.prefix("avg_")
df.select(expr)

shape: (1, 2)
┌───────────┬───────────────┐
│ avg_price ┆ avg_year_high │
│ ---       ┆ ---           │
│ f64       ┆ f64           │
╞═══════════╪═══════════════╡
│ 228.84    ┆ 248.17        │
└───────────┴───────────────┘

In [ ]:
# multiply all columns with data type Float64 by 1.1
expr = (pl.col(pl.Float64) * 1.1).name.suffix("*1.1")
result = df.select(expr)
print(result)

shape: (5, 5)
┌───────────┬──────────────┬─────────────┬───────────────┬──────────────┐
│ price*1.1 ┆ day_high*1.1 ┆ day_low*1.1 ┆ year_high*1.1 ┆ year_low*1.1 │
│ ---       ┆ ---          ┆ ---         ┆ ---           ┆ ---          │
│ f64       ┆ f64          ┆ f64         ┆ f64           ┆ f64          │
╞═══════════╪══════════════╪═════════════╪═══════════════╪══════════════╡
│ 252.89    ┆ 254.441      ┆ 251.46      ┆ 260.953       ┆ 180.488      │
│ 152.823   ┆ 153.56       ┆ 149.93      ┆ 154.836       ┆ 43.153       │
│ 462.616   ┆ 466.444      ┆ 459.272     ┆ 515.185       ┆ 356.829      │
│ 183.051   ┆ 184.382      ┆ 181.258     ┆ 212.641       ┆ 133.606      │
│ 207.24    ┆ 208.813      ┆ 207.284     ┆ 221.32        ┆ 130.185      │
└───────────┴──────────────┴─────────────┴───────────────┴──────────────┘

##### How to select columns

###### by columns name

In [ ]:
eur_usd_rate = 1.2

result = df.with_columns(
    (
        pl.col(
            "price",
            "day_high",
            "day_low",
            "year_high",
            "year_low",
        )
        / eur_usd_rate
    ).round(1)
)
print(result)

shape: (5, 7)
┌────────┬───────────────────┬───────┬──────────┬─────────┬───────────┬──────────┐
│ ticker ┆ company_name      ┆ price ┆ day_high ┆ day_low ┆ year_high ┆ year_low │
│ ---    ┆ ---               ┆ ---   ┆ ---      ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str               ┆ f64   ┆ f64      ┆ f64     ┆ f64       ┆ f64      │
╞════════╪═══════════════════╪═══════╪══════════╪═════════╪═══════════╪══════════╡
│ AAPL   ┆ Apple             ┆ 191.6 ┆ 192.8    ┆ 190.5   ┆ 197.7     ┆ 136.7    │
│ NVDA   ┆ NVIDIA            ┆ 115.8 ┆ 116.3    ┆ 113.6   ┆ 117.3     ┆ 32.7     │
│ MSFT   ┆ Microsoft         ┆ 350.5 ┆ 353.4    ┆ 347.9   ┆ 390.3     ┆ 270.3    │
│ GOOG   ┆ Alphabet (Google) ┆ 138.7 ┆ 139.7    ┆ 137.3   ┆ 161.1     ┆ 101.2    │
│ AMZN   ┆ Amazon            ┆ 157.0 ┆ 158.2    ┆ 157.0   ┆ 167.7     ┆ 98.6     │
└────────┴───────────────────┴───────┴──────────┴─────────┴───────────┴──────────┘

###### by datatype

In [ ]:
result2 = df.with_columns(
    (
        pl.col(
            pl.Float32,
            pl.Float64,
        )
        / eur_usd_rate
    ).round(2)
)
print(result2)

shape: (5, 7)
┌────────┬───────────────────┬────────┬──────────┬─────────┬───────────┬──────────┐
│ ticker ┆ company_name      ┆ price  ┆ day_high ┆ day_low ┆ year_high ┆ year_low │
│ ---    ┆ ---               ┆ ---    ┆ ---      ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str               ┆ f64    ┆ f64      ┆ f64     ┆ f64       ┆ f64      │
╞════════╪═══════════════════╪════════╪══════════╪═════════╪═══════════╪══════════╡
│ AAPL   ┆ Apple             ┆ 191.58 ┆ 192.76   ┆ 190.5   ┆ 197.69    ┆ 136.73   │
│ NVDA   ┆ NVIDIA            ┆ 115.78 ┆ 116.33   ┆ 113.58  ┆ 117.3     ┆ 32.69    │
│ MSFT   ┆ Microsoft         ┆ 350.47 ┆ 353.37   ┆ 347.93  ┆ 390.29    ┆ 270.33   │
│ GOOG   ┆ Alphabet (Google) ┆ 138.68 ┆ 139.68   ┆ 137.32  ┆ 161.09    ┆ 101.22   │
│ AMZN   ┆ Amazon            ┆ 157.0  ┆ 158.19   ┆ 157.03  ┆ 167.67    ┆ 98.63    │
└────────┴───────────────────┴────────┴──────────┴─────────┴───────────┴──────────┘

###### by pattern matching in columns name

- `^` : start
- `$` : end 
- `*` : multi-characters
- `.` : single-character
- ...

In [ ]:
result = df.select(pl.col("ticker", "^.*_high$", "^.*_low$"))
print(result)

shape: (5, 5)
┌────────┬──────────┬───────────┬─────────┬──────────┐
│ ticker ┆ day_high ┆ year_high ┆ day_low ┆ year_low │
│ ---    ┆ ---      ┆ ---       ┆ ---     ┆ ---      │
│ str    ┆ f64      ┆ f64       ┆ f64     ┆ f64      │
╞════════╪══════════╪═══════════╪═════════╪══════════╡
│ AAPL   ┆ 231.31   ┆ 237.23    ┆ 228.6   ┆ 164.08   │
│ NVDA   ┆ 139.6    ┆ 140.76    ┆ 136.3   ┆ 39.23    │
│ MSFT   ┆ 424.04   ┆ 468.35    ┆ 417.52  ┆ 324.39   │
│ GOOG   ┆ 167.62   ┆ 193.31    ┆ 164.78  ┆ 121.46   │
│ AMZN   ┆ 189.83   ┆ 201.2     ┆ 188.44  ┆ 118.35   │
└────────┴──────────┴───────────┴─────────┴──────────┘

##### Generate expressions

Instead of `Way 1`, should do by `Way 2` to:
- do a better job at optimising the query
- parallelise the execution of the actual computations.

In [ ]:
# Way 1:
result = df
for tp in ["day", "year"]:
    result = result.with_columns(
        (pl.col(f"{tp}_high") - pl.col(f"{tp}_low")).alias(f"{tp}_amplitude")
    )


# Way 2 (should do):
def amplitude_expressions(time_periods):
    for tp in time_periods:
        yield (pl.col(f"{tp}_high") - pl.col(f"{tp}_low")).alias(
            f"{tp}_amplitude"
        )


result = df.with_columns(amplitude_expressions(["day", "year"]))
print(result)

shape: (5, 9)
┌────────┬──────────────┬────────┬──────────┬───┬───────────┬──────────┬─────────────┬─────────────┐
│ ticker ┆ company_name ┆ price  ┆ day_high ┆ … ┆ year_high ┆ year_low ┆ day_amplitu ┆ year_amplit │
│ ---    ┆ ---          ┆ ---    ┆ ---      ┆   ┆ ---       ┆ ---      ┆ de          ┆ ude         │
│ str    ┆ str          ┆ f64    ┆ f64      ┆   ┆ f64       ┆ f64      ┆ ---         ┆ ---         │
│        ┆              ┆        ┆          ┆   ┆           ┆          ┆ f64         ┆ f64         │
╞════════╪══════════════╪════════╪══════════╪═══╪═══════════╪══════════╪═════════════╪═════════════╡
│ AAPL   ┆ Apple        ┆ 229.9  ┆ 231.31   ┆ … ┆ 237.23    ┆ 164.08   ┆ 2.71        ┆ 73.15       │
│ NVDA   ┆ NVIDIA       ┆ 138.93 ┆ 139.6    ┆ … ┆ 140.76    ┆ 39.23    ┆ 3.3         ┆ 101.53      │
│ MSFT   ┆ Microsoft    ┆ 420.56 ┆ 424.04   ┆ … ┆ 468.35    ┆ 324.39   ┆ 6.52        ┆ 143.96      │
│ GOOG   ┆ Alphabet     ┆ 166.41 ┆ 167.62   ┆ … ┆ 193.31    ┆ 121.46   ┆ 2.84        ┆ 71.85       │
│        ┆ (Google)     ┆        ┆          ┆   ┆           ┆          ┆             ┆             │
│ AMZN   ┆ Amazon       ┆ 188.4  ┆ 189.83   ┆ … ┆ 201.2     ┆ 118.35   ┆ 1.39        ┆ 82.85       │
└────────┴──────────────┴────────┴──────────┴───┴───────────┴──────────┴─────────────┴─────────────┘

### Datatype Operations

In [90]:
import polars as pl

df = pl.DataFrame(
    {  # As of 14th October 2024, ~3pm UTC
        "ticker": ["AAPL", "NVDA", "MSFT", "GOOG", "AMZN"],
        "company_name": [
            "Apple",
            "NVIDIA",
            "Microsoft",
            "Alphabet (Google)",
            "Amazon",
        ],
        "price": [229.9, 138.93, 420.56, 166.41, 188.4],
        "day_high": [231, 139, 424, 167, 189],
        "day_low": [228, 136, 417, 164, 188],
        "year_high": [237, 140, 468, 193, 201],
        "year_low": [164, 39, 324, 121, 118],
    }
)

print(df)

shape: (5, 7)
┌────────┬───────────────────┬────────┬──────────┬─────────┬───────────┬──────────┐
│ ticker ┆ company_name      ┆ price  ┆ day_high ┆ day_low ┆ year_high ┆ year_low │
│ ---    ┆ ---               ┆ ---    ┆ ---      ┆ ---     ┆ ---       ┆ ---      │
│ str    ┆ str               ┆ f64    ┆ i64      ┆ i64     ┆ i64       ┆ i64      │
╞════════╪═══════════════════╪════════╪══════════╪═════════╪═══════════╪══════════╡
│ AAPL   ┆ Apple             ┆ 229.9  ┆ 231      ┆ 228     ┆ 237       ┆ 164      │
│ NVDA   ┆ NVIDIA            ┆ 138.93 ┆ 139      ┆ 136     ┆ 140       ┆ 39       │
│ MSFT   ┆ Microsoft         ┆ 420.56 ┆ 424      ┆ 417     ┆ 468       ┆ 324      │
│ GOOG   ┆ Alphabet (Google) ┆ 166.41 ┆ 167      ┆ 164     ┆ 193       ┆ 121      │
│ AMZN   ┆ Amazon            ┆ 188.4  ┆ 189      ┆ 188     ┆ 201       ┆ 118      │
└────────┴───────────────────┴────────┴──────────┴─────────┴───────────┴──────────┘

#### Casting

##### `cast`
 - `strict` that determines how Polars behaves when it encounters a value that cannot be converted from the source data type to the target data type
   - `strict=True`: raise if error
   - `strict=False`: `null` if error

In [97]:
result = df.select(
    pl.col("price").cast(pl.Float32).name.suffix("_integers_as_floats"),
    pl.col("day_high").cast(pl.Int32).name.suffix("_floats_as_integers"),
)
print(result)

shape: (5, 2)
┌──────────────────────────┬─────────────────────────────┐
│ price_integers_as_floats ┆ day_high_floats_as_integers │
│ ---                      ┆ ---                         │
│ f32                      ┆ i32                         │
╞══════════════════════════╪═════════════════════════════╡
│ 229.899994               ┆ 231                         │
│ 138.929993               ┆ 139                         │
│ 420.559998               ┆ 424                         │
│ 166.410004               ┆ 167                         │
│ 188.399994               ┆ 189                         │
└──────────────────────────┴─────────────────────────────┘

##### downcasting numerical

Reduce the memory footprint of a column by changing the precision associated with its numeric data type:
- `Int64` --> `Int16` 
- `Float64` --> `Float32`

In [104]:
print(f"Before downcasting: {df.estimated_size()} bytes")
result = df.with_columns(
    pl.col("price").cast(pl.Float32),
    pl.col("day_high").cast(pl.Int32),
    pl.col("year_low")
    .cast(pl.Int8, strict=False)
    .alias("year_low_convert_with_strict"),
)
print(f"After downcasting: {result.estimated_size()} bytes")
print(result)

Before downcasting: 263 bytes
After downcasting: 229 bytes
shape: (5, 8)
┌────────┬────────────────┬────────────┬──────────┬─────────┬───────────┬──────────┬───────────────┐
│ ticker ┆ company_name   ┆ price      ┆ day_high ┆ day_low ┆ year_high ┆ year_low ┆ year_low_conv │
│ ---    ┆ ---            ┆ ---        ┆ ---      ┆ ---     ┆ ---       ┆ ---      ┆ ert_with_stri │
│ str    ┆ str            ┆ f32        ┆ i32      ┆ i64     ┆ i64       ┆ i64      ┆ ct            │
│        ┆                ┆            ┆          ┆         ┆           ┆          ┆ ---           │
│        ┆                ┆            ┆          ┆         ┆           ┆          ┆ i8            │
╞════════╪════════════════╪════════════╪══════════╪═════════╪═══════════╪══════════╪═══════════════╡
│ AAPL   ┆ Apple          ┆ 229.899994 ┆ 231      ┆ 228     ┆ 237       ┆ 164      ┆ null          │
│ NVDA   ┆ NVIDIA         ┆ 138.929993 ┆ 139      ┆ 136     ┆ 140       ┆ 39       ┆ 39            │
│ MSFT   ┆ Microsoft      ┆ 420.559998 ┆ 424      ┆ 417     ┆ 468       ┆ 324      ┆ null          │
│ GOOG   ┆ Alphabet       ┆ 166.410004 ┆ 167      ┆ 164     ┆ 193       ┆ 121      ┆ 121           │
│        ┆ (Google)       ┆            ┆          ┆         ┆           ┆          ┆               │
│ AMZN   ┆ Amazon         ┆ 188.399994 ┆ 189      ┆ 188     ┆ 201       ┆ 118      ┆ 118           │
└────────┴────────────────┴────────────┴──────────┴─────────┴───────────┴──────────┴───────────────┘

##### strings to numeric

#### Math (number)

In [32]:
result = df.select(
    pl.col("nrs").alias("raw_nrs"),
    (pl.col("nrs") + 5).alias("nrs + 5"),
    (pl.col("nrs") - 5).alias("nrs - 5"),
    (pl.col("nrs") * pl.col("random")).alias("nrs * random"),
    (pl.col("nrs") / pl.col("random")).alias("nrs / random"),
    (pl.col("nrs") ** 2).alias("nrs ** 2"),
    (pl.col("nrs") % 3).alias("nrs % 3"),
)

print(result)

shape: (5, 7)
┌─────────┬─────────┬─────────┬──────────────┬──────────────┬──────────┬─────────┐
│ raw_nrs ┆ nrs + 5 ┆ nrs - 5 ┆ nrs * random ┆ nrs / random ┆ nrs ** 2 ┆ nrs % 3 │
│ ---     ┆ ---     ┆ ---     ┆ ---          ┆ ---          ┆ ---      ┆ ---     │
│ i64     ┆ i64     ┆ i64     ┆ f64          ┆ f64          ┆ i64      ┆ i64     │
╞═════════╪═════════╪═════════╪══════════════╪══════════════╪══════════╪═════════╡
│ 1       ┆ 6       ┆ -4      ┆ 0.37454      ┆ 2.669941     ┆ 1        ┆ 1       │
│ 2       ┆ 7       ┆ -3      ┆ 1.901429     ┆ 2.103681     ┆ 4        ┆ 2       │
│ 3       ┆ 8       ┆ -2      ┆ 2.195982     ┆ 4.098395     ┆ 9        ┆ 0       │
│ null    ┆ null    ┆ null    ┆ null         ┆ null         ┆ null     ┆ null    │
│ 5       ┆ 10      ┆ 0       ┆ 0.780093     ┆ 32.047453    ┆ 25       ┆ 2       │
└─────────┴─────────┴─────────┴──────────────┴──────────────┴──────────┴─────────┘

Or use **named functions**

In [34]:
# Python only:
result_named_operators = df.select(
    pl.col("nrs").alias("raw_nrs"),
    (pl.col("nrs").add(5)).alias("nrs + 5"),
    (pl.col("nrs").sub(5)).alias("nrs - 5"),
    (pl.col("nrs").mul(pl.col("random"))).alias("nrs * random"),
    (pl.col("nrs").truediv(pl.col("random"))).alias("nrs / random"),
    (pl.col("nrs").pow(2)).alias("nrs ** 2"),
    (pl.col("nrs").mod(3)).alias("nrs % 3"),
)

print(result.equals(result_named_operators))

True

#### String

#### Lists and array

#### Categorical and enums

#### Structs

### Missing

### Aggregation

In [13]:
print(df)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

#### **`group_by`**

After using `group_by` we use `agg` to apply aggregating expressions to the groups

In [9]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias(
        "decade"
    ),  # group by label 1
).agg(pl.col("name"))
print(result)

shape: (2, 2)
┌────────┬─────────────────────────────────┐
│ decade ┆ name                            │
│ ---    ┆ ---                             │
│ i32    ┆ list[str]                       │
╞════════╪═════════════════════════════════╡
│ 1990   ┆ ["Alice Archer"]                │
│ 1980   ┆ ["Ben Brown", "Chloe Cooper", … │
└────────┴─────────────────────────────────┘

> the groups of that column as lists

For multi-label of grouper and multi expressions each group

In [14]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias(
        "decade"
    ),  # group by label 1
    (pl.col("height") < 1.7).alias("short?"),  # group by label 2
).agg(
    pl.len(),
    pl.col("height").max().alias("tallest"),
    pl.col("weight", "height").mean().name.prefix("avg_"),
)
print(result)

shape: (3, 6)
┌────────┬────────┬─────┬─────────┬────────────┬────────────┐
│ decade ┆ short? ┆ len ┆ tallest ┆ avg_weight ┆ avg_height │
│ ---    ┆ ---    ┆ --- ┆ ---     ┆ ---        ┆ ---        │
│ i32    ┆ bool   ┆ u32 ┆ f64     ┆ f64        ┆ f64        │
╞════════╪════════╪═════╪═════════╪════════════╪════════════╡
│ 1980   ┆ true   ┆ 1   ┆ 1.65    ┆ 53.6       ┆ 1.65       │
│ 1990   ┆ true   ┆ 1   ┆ 1.56    ┆ 57.9       ┆ 1.56       │
│ 1980   ┆ false  ┆ 2   ┆ 1.77    ┆ 77.8       ┆ 1.76       │
└────────┴────────┴─────┴─────────┴────────────┴────────────┘

### Window functions

### Folds functions

### Custom function

### Numpy function

## Transformations

### Join

### Concat

### Pivot

### Unpivot

### Time Series

## Lazy API

## Plugins

### SQL

### Machine Learning